  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body {
      font-family: Arial, sans-serif;
      background-color: #f0f4f0;
  }
/* 
  .product-section {
      padding: 6px;
  } */

  .with-images .section-title {
      text-align: center;
      color: #333;
      margin-bottom: 30px;
      font-size: 2.5rem;
  }

  .with-images .product-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 20px;
      justify-items: center;
  }

  .with-images .product-item {
      background-color: #ffffff;
      border-radius: 10px;
      overflow: hidden;
      /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
      transition: transform 0.3s ease;
      width: 100%;
      max-width: 300px;
      border: 1px solid #e0e0e0;

      /* height: 200px; */
  }

  .with-images .product-item:hover {
      transform: translateY(-5px);
  }

  .with-images .product-image {
      width: 100%;
      max-width: 100%;
      height: 200px;
      aspect-ratio: 4/3;
      object-fit: contain;
      display: block;
  }

  /*  Fix: Adjust for mobile view */
  @media (max-width: 480px) {
      .with-images .product-image {
          height: 210px;
          /* aspect-ratio: 4 / 3; */
          object-fit: fill;
          width: 100%;
      }
  }

  .with-images .product-info {
      padding: 15px;
      text-align: center;
  }

  .with-images .product-info h3 {
      color: #333;
      font-size: 1em;
      margin-bottom: 10px;
  }

  .with-images .btn-wrapper {
      text-align: center;
      /* Centers inline-block buttons */
  }

  .back-btn {
      display: inline-block;
      padding: 12px 24px;
      background-color: #4caf50;
      color: white !important;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1rem;
      text-decoration: none;
      text-align: center;
      transition: background-color 0.3s ease;
      margin-top: 30px;
  }

  .back-btn:hover {
      background-color: #388e3c;
  }


  @media (max-width: 768px) {

      .with-images .section-title {
          font-size: 2rem;
      }

      .with-images .product-item {
          max-width: 100%;
      }
  }

  @media (max-width: 480px) {
      .with-images .product-grid {
          grid-template-columns: 1fr;
      }

      .with-images .product-item {
          width: 100%;
      }

      .with-images .section-title {
          font-size: 1.8rem;
      }

      .product-section {
          padding: 2px;
          /* margin-left: 25%; */
      }


      .with-images .product-image {
          width: 100%;
          aspect-ratio: 4 / 3;
          object-fit: contain;
      }
  }